/*
    CIS 301 Final Part 1 Style Sheet
    Author: Justin Willis
    Date:  12/1/23
    Filename: Final project

*/

/* HTML Styles */

html {
    background-color: green;
    color: white;
}

html {}

/* Header Styles */

header {
    text-align:center;
}
/* Table Styles */

table{
    background-color: lightgreen;
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    margin:auto;
}

.name{
    text-align: right;

}

th#name {
    text-align:center;
}

th#alsoName, th#name {
    padding: 3px;
}

tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    padding: 10px;
}

/* Images Styles */

img {
    padding: 10px;
    border: 3px solid rgb(11, 115, 1);
    height: 150px;
    width: 200px;
    display:block;
    margin:auto;
    padding: 10px;
}

/* Footer Styles */

footer {
    text-align: center;
}
